.container {
    display: flex;
    flex-wrap: nowrap; /* Change this to prevent wrapping */
    justify-content: center; /* Centers items on the line */
    overflow-x: auto; /* Adds horizontal scrolling if there is overflow */
}

.container img {
    width: 20%; 
    margin: 5px; 
}

.image {
    border: 1px solid #000; 
    padding: 10px; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5); 
}
